version: '3.8'

services:
  service_db_server:
    image: postgres:14.8
    container_name: container_db_server
    ports: 
      - "55432:5432"
    env_file:
      - ./db_server/.env
    volumes:
      - ./db_server/storage:/var/lib/postgresql/data

  # service_main_server:
  #   build: 
  #     context: ./app_server
  #     dockerfile: Dockerfile
  #   image: python310_streamlit_for_openai_api:1.0
  #   container_name: container_main_server
  #   ports:
  #     - 50000:8501
  #   volumes:
  #     - ./app_server:/work
  #   working_dir: /work
  #   command: ["streamlit", "run", "main_server.py"]
  #   depends_on:
  #     - service_db_server

  # service_management_server:
  #   build: 
  #     context: ./app_server
  #     dockerfile: Dockerfile
  #   image: python310_streamlit_for_openai_api:1.0
  #   container_name: container_management_server
  #   ports:
  #     - 50001:8501
  #   volumes:
  #     - ./app_server:/work
  #   working_dir: /work
  #   command: ["streamlit", "run", "management_server.py"]
  #   depends_on:
  #     - service_db_server
